<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head', {pageTitle: 'Editar producto'}); %>
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class="container crear-producto">
                <div class="form-container">
                    <h1>Editar Producto</h1>
                    <form action="/products/editProduct/<%=product.id %>?_method=PUT" method="POST">
                        <div class="field">
                            <label for="id">
                                <span>ID del producto</span>
                                <input type="text" name="id" id="id" autofocus value=<%= product.id %>>
                            </label>
                        </div>
                        <div class="field">
                            <label for="name">
                                <span>Nombre del producto</span>
                                <input type="text" name="name" id="name" autofocus value=<%= product.name %>>
                            </label>
                        </div>
                        <div class="field">
                            <label for="price">
                            <span>Precio</span>
                        <input type="number" name="price" id="price" value=<%= product.price %>></label>
                        </div>
                        <div class="field">
                            <label for="description">
                            <span>Descripción resumida</span>
                        <textarea name="description" id="description"><%= product.description %></textarea></label>
                            <label for="nutritional">
                            <span>Información nutricional</span>
                        <textarea name="nutritional" id="nutritional"><%= product.nutritional %></textarea></label>
                        </div>
                        <fieldset class="field">
                            <legend>Categoria del producto</legend>

                            <% ages.forEach(function(age){%>
                                <label for="<%=age%>"></label>
                                <input type="checkbox" name="category" value=<%=age %>
                                <% product.category.forEach(function(p_age) { %>
                                    <%= (p_age == age) ? 'checked' : '' %>
                                        <% }) %>
                                            >
                                            <span><%=age%></span>
                                            </label>
                                            <% }) %>
                        </fieldset>

                        <div class="button-product">
                            <button type="submit" class="button">Guardar cambios</button>
                        </div>
                    </form>
                    <hr class="form-separator" />
                    <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
                        <div class="button-product">
                            <button type="submit" class="delete-button">Eliminar este producto</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <%- include('../partials/footer'); %>
</body>