<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head', {pageTitle: 'Editar producto!'}); %>
        <link rel="stylesheet" href="/css/adminProduct.css">
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class="crear-producto">
                <div class="form-content">
                    <h3>Editar Producto</h3>
                    <form action="/productos/editar-productos/<%=producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <div class="contenedor">
                            <label for="id">
                            <span>ID del producto: </span>
                        <input type="text" name="id" id="id" autofocus value=<%= producto.id %>></label>
                        </div>
                        <div class="contenedor">
                            <label for="name">
                            <span>Nombre del producto: </span>
                        <input type="text" name="name" id="name" autofocus value=<%= producto.name %>></label>
                        </div>
                        <div class="contenedor">
                            <label for="price">
                            <span>Precio:</span>
                        <input type="number" name="price" id="price" value=<%= producto.price %>></label>
                        </div>

                        <div class="contenedor">
                            <label for="description">
                            <span>Descripción resumida:</span>
                        <textarea name="description" id="description"><%= producto.description %></textarea></label>
                            <label for="nutritional">
                            <span>Información nutricional:</span>
                        <textarea name="nutritional" id="nutritional"><%= producto.nutritional %></textarea></label>
                        </div>
                        <div class="contenedor">
                            <span>Edad de tu mascota:</span><br>

                            <label for="product-cachorro">
                                
                                <input type="checkbox" name="category" id="product-cachorro">
                                <span>Cachorro</span></label>

                            <label for="product-adulto">
                                <input type="checkbox" name="category" id="product-adulto">
                                <span>Adulto</span>
                            </label>

                            <label for="product-senior">
                                <input type="checkbox" name="category" id="product-senior">
                                <span>Senior</span>
                            </label>
                        </div>
                        <div class="contenedor">
                            <label>Imagen Actual:
                            <input type="text" name="image" value=<%=producto.image %>></label>
                            <span>Agregar una nueva imagen:</span>
                            <div class="file-select">
                                <input type="file" name="imageNew" id="ProductAddImage" accept="image/x-png,image/gif,image/jpeg"></input>
                            </div>
                        </div>
                        <div class="button-product">
                            <button type="submit">Guardar</button>
                        </div>
                    </form>
                    <form action="/productos/<%= producto.id %>?_method=DELETE" method="POST">
                        <div class="button-product">
                            <button type="submit" class="action-button delete">ELIMINAR</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="horizontalBlock horizontalBlock--yellow"></div>
        </main>
        <%- include('../partials/footer'); %>
</body>