<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head', {pageTitle: 'Meow!'}); %>
        <link rel="stylesheet" href="/css/productDetail.css">
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class="small-container single-product">
                <div class="row">
                    <div class="col-2">
                        <img src="/images/food/<%= product.image %>" width="100%">
                    </div>
                    <div class="col-2">
                        <h1>
                            <%= product.name %>
                        </h1>
                        <p>Meow - El mejor alimento</p>
                        <h4>
                            $
                            <%= product.price %>
                        </h4>

                        <select>
                                    <% if (product.category) { %>
                                        <% for (let x = 0; x < product.category.length; x++)  {%>
                                <option>
                                    <%= product.category[x] %>
                                </option>
                                <% } %>
                                    <% } %>
                        </select>

                        <div class="single-product__input-group">
                            <input type="number" name="quantity" value="1">
                            <button type="button" class="button">Añadir al carrito</button>
                        </div>
                        
                        <h3>Info Nutricional</h3>
                        <br>
                        <p>
                            <%= product.nutritional  %>
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../partials/footer'); %>
</body>