<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head', {pageTitle: 'Meow!'}); %>
        <link rel="stylesheet" href="/css/homeProductos.css">
        <link rel="stylesheet" href="/css/homeClientes.css">
</head>

<body>
    <%- include('partials/header'); %>
        <main>
            <section id="portada" class="portada">
                <div class="hero">
                    <div class="hero-description">
                        <h1>
                            Alimento real,
                            <br>
                            <span class="nobreak">para gatos reales 🐱</span>
                        </h1>
                        <a class="button" href="/#products">Quiero!</a>
                    </div>
                </div>
            </section>
            <div class="horizontalBlock horizontalBlock--turquesa"></div>

            <!-- PRODUCTS -->
            <section id="products">
                <h2>Nuestra Selección</h2>
                <div class="productos">
                    <% product.forEach(element => { %>
                        <div class="card">
                            <a href="/products/<%= element.product_id %>" class="link-product"><img src="/images/food/<%= element.productImage %>" class="card__image"></a>
                            <div class="card__text-container">
                                <h3 class="card__title">
                                    <%= element.productName %>
                                </h3>
                                <p class="card__text description">
                                    <%= element.shortDescription %>
                                </p>
                                <div class="card__text-btn-container">
                                    <p class="card__text price">$
                                        <%= element.productPrice %>
                                    </p>
                                    <form action="/cart/addCart" method="post">
                                        <input type="hidden" name="product_id" value="<%= element.product_id%>">
                                        <input type="hidden" name="price" value="<%= element.productPrice %>">
                                        <input type="hidden" name="quantity" value="1">
                                        <button type="submit" class="card__button"><img src="/images/plus.svg" alt=""></button>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <% }) %>
            </section>

            <div class="horizontalBlock horizontalBlock--pink"></div>
            <!-- CUSTOMERS -->
            <section id="customers" class="customers">
                <div class="container">
                    <h2 class="title-clientes">Clientes felices</h2>
                    <div class="grid">
                        <div class="customers-card item-1">
                            <div class="customers-card__text">
                                <img class="quote-icon yellow" src="/images/customers/quote-yellow.png" alt="">
                                <p>Es el mejor alimento que puedo darle a mi gato. Coco está muy saludable y su pelaje se increíble.
                                </p>
                            </div>
                            <div class="customers-card__description">
                                <img src="/images/customers/uno.png" alt="" class="customers-photo">
                                <div class="customers-card__description-person">
                                    <p class="customers-name">Luciana & Coco</p>
                                    <p class="customers-city">Viedma</p>
                                </div>
                            </div>
                        </div>

                        <div class="customers-card item-2">
                            <div class="customers-card__text">
                                <img class="quote-icon yellow" src="/images/customers/quote-pink.png" alt="">
                                <p>Los problemas de salud de Greta han desaparecido, ha recuperado el peso que perdió.
                                </p>
                            </div>
                            <div class="customers-card__description">
                                <img src="/images/customers/tres.png" alt="" class="customers-photo">
                                <div class="customers-card__description-person">
                                    <p class="customers-name">Martín & Greta</p>
                                    <p class="customers-city">Rosario</p>
                                </div>
                            </div>
                        </div>

                        <div class="customers-card item-3">
                            <div class="customers-card__text">
                                <img class="quote-icon yellow" src="/images/customers/quote-green.png" alt="">
                                <p>No hay forma de que podamos volver a la pasta enlatada o a las croquetas de supermercado.
                                </p>
                            </div>
                            <div class="customers-card__description">
                                <img src="/images/customers/dos.png" alt="" class="customers-photo">
                                <div class="customers-card__description-person">
                                    <p class="customers-name">Alicia & Kati</p>
                                    <p class="customers-city">San Juan</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>

        <%- include('partials/footer'); %>
</body>