<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head', {pageTitle: 'Meow!'}); %>
        <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class="form-container">
                <form class="login-form" action="/users/login" method="POST">
                    <h1>Bienvenid@</h1>
                    <div class="field">
                        <label for="email">
                    <span>Email:</span>
                    <strong><abbr title="required">*</abbr></strong>
                </label>
                        <input type="text" name="email" id="email" class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.email : null %>">
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="field">
                        <label for="password">
                    <span>Contraseña:</span>
                    <strong><abbr title="required">*</abbr></strong>
                </label>
                        <input type="password" name="password" id="password" class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.password : null %>">
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="field-checkbox">

                        <div class="field-checkbox-hija"><input type="checkbox" name="rememberUser" id="rememberUser" class="checkbox"></div>
                        <div class="field-checkbox-hija">
                            <p><a class="rememberUser">Recordar mi usuario</a></p>
                        </div>
                    </div>

                    <div class="form-btn">
                        <button type="submit" value="Ingresar">Ingresar</button>
                    </div>
                    <p><a class="registrado" href="/users/register">¿No estás registrado?</a></p>
                </form>
            </div>
            <!-- <div class="horizontalBlock horizontalBlock--yellow"></div> -->
        </main>

        <%- include('../partials/footer'); %>
</body>